#ignorar archivos todo los archivos de texto
*.txt
#ignorar las siguientes carpetas
/images/beneficiarios
/controller/inSession
/app
/solicitudes
#ignorar las siguientes archivos
/controller/conexion.php
