/images/beneficiarios
/controller/inSession 
#ignorar archivos todo los archivos de texto
*.txt
#ignorar las siguientes carpetas
/aseguradoras
#ignorar las siguientes archivos
/controller/conexion.php
